# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3

# Virtual environment
.env/
venv/
ENV/
*.env
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
library_system/settings.py
