{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Library System{% endblock %}

{% block content %}
<header class="bg-light text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to the Library!</h1>
        <p class="lead">Explore, borrow and enjoy reading 📖</p>
    </div>
</header>

<section class="flex-grow-1">
    <div class="container text-center my-5">
        <img src="{% static 'images/Library.jpg' %}" class="img-fluid rounded shadow" alt="Library" width="600">
        <p class="mt-4">
            Dive into a vast collection of books – fiction, non-fiction, academic resources and more.
            Become a member and start your journey with knowledge today.
        </p>
        <div class="text-center my-4">
            <a href="{% url 'books:book_list' %} " class="btn btn-primary btn-lg">
            📚 View All Books
            </a>
        </div>

    </div>
</section>
{% endblock %}
